<p id="notice"><%= notice %></p>

<h1>Garagistes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ville</th>
      <th>Code postal</th>
      <th>Categorie</th>
      <th>Taux mo</th>
      <th>Taux piece</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garagistes.each do |garagiste| %>
      <tr>
        <td><%= garagiste.name %></td>
        <td><%= garagiste.ville %></td>
        <td><%= garagiste.code_postal %></td>
        <td><%= garagiste.categorie %></td>
        <td><%= garagiste.taux_mo %></td>
        <td><%= garagiste.taux_piece %></td>
        <td><%= link_to 'Show', garagiste %></td>
        <td><%= link_to 'Edit', edit_garagiste_path(garagiste) %></td>
        <td><%= link_to 'Destroy', garagiste, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garagiste', new_garagiste_path %>
