<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garagiste.name %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @garagiste.ville %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @garagiste.code_postal %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @garagiste.categorie %>
</p>

<p>
  <strong>Taux mo:</strong>
  <%= @garagiste.taux_mo %>
</p>

<p>
  <strong>Taux piece:</strong>
  <%= @garagiste.taux_piece %>
</p>

<%= link_to 'Edit', edit_garagiste_path(@garagiste) %> |
<%= link_to 'Back', garagistes_path %>
