<h1>Search#show</h1>


<%= simple_form_for [@search] do |f| %>
  <%= f.input :name %>
  <%= f.input :ville %>
  <%= f.input :code_postal %>
  <%= f.input :categorie %>
  <%= f.input :description %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>

