<h1>Avec<strong> Garagister</strong> vous allez changer d'avis sur les garages</h1>
  <h2>Comparateur de garages équitable</h2>
  <div>
  <%= render 'form_search_home' %>
  </div>

  <div class="container text-center padded"> <h2>Pourquoi nous faire confiance ?</h2>

    <div class="row">

      <div class="col-xs-12 col-sm-4 padded">
        <%= image_tag "bons-garages.png" %>
        <p>
        Garages vérifiés par un mécanicien
        </p>

      </div>

      <div class="col-xs-12 col-sm-4 padded">
        <%= image_tag "garage-pas-cher.png" %>
        <p>
        Economies à la clef
        </p>

      </div>

      <div class="col-xs-12 col-sm-4 padded">
        <%= image_tag "petits-garagistes-passionnes.png" %>
        <p>
        Petits garagistes passionnés
        </p>

      </div>

    </div>

  </div>

  <div class="container text-center">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card-category">Révision</div>
        <%= image_tag "revision-auto-garagister.jpg", class:"img-card" %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-category">Electronique</div>
        <%= image_tag "diagnostic-auto-garagister.jpg" %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-category">Carrosserie</div>
        <%= image_tag "carrosserie-auto-aubagne.jpg" %>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-4">
         <div class="card" style="background: url('/assets/garage-4x4-aubagne.jpg")>"</div>
        <div class="card-category">4X4</div>
      </div>
      <div class="col-xs-12 col-sm-4">
         <div class="card" style="background: url('/assets/depannage-auto-aubagne.jpg")>"</div>
        <div class="card-category">Dépannage</div>
      </div>
      <div class="col-xs-12 col-sm-4">
         <div class="card" style="background: url('/assets/garage-mecanique-auto-aubagne.jpg")>"</div>
        <div class="card-category">Mécanique</div>
      </div>
    </div>
  </div>
