<h1>Avec<strong> Garagister</strong> vous allez changer d'avis sur les garages</h1>
  <h2>Comparateur de garages équitable</h2>
  <div>
  <%= render 'form_search_home' %>
  </div>
  <div class="container text-center padded"> <h2>Pourquoi nous faire confiance ?</h2>


    <div class="row">

      <div class="col-xs-12 col-sm-4 padded">
        <%= image_tag "bons-garages.png" %>
        <p>
        Garages vérifiés par un mécanicien
        </p>

      </div>

      <div class="col-xs-12 col-sm-4 padded">
        <%= image_tag "garage-pas-cher.png" %>
        <p>
        Economies à la clef
        </p>

      </div>
      <div class="col-xs-12 col-sm-4 padded">
        <%= image_tag "petits-garagistes-passionnes.png" %>
        <p>
        Petits garagistes passionnés
        </p>
      </div>
    </div>
  </div>
 <hr>
  <div class="container text-center">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card-category"><h3>Révision</h3></div>
        <%= image_tag "revision-auto-garagister.jpg", class:"img-card" %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-category"><h3>Electronique</h3></div>
        <%= image_tag "diagnostic-auto-garagister.jpg", class:"img-card"%>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-category"><h3>Carrosserie</h3></div>
        <%= image_tag "carrosserie-auto-aubagne.jpg", class:"img-card" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-category"><h3>4X4</h3></div>
        <%= image_tag "garage-4x4-aubagne.jpg", class:"img-card" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-category"><h3>Dépannage</h3></div>
        <%= image_tag "depannage-auto-aubagne.jpg", class:"img-card" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-category"><h3>Mécanique</h3></div>
        <%= image_tag "garage-mecanique-auto-aubagne.jpg", class:"img-card" %>
      </div>
    </div>
  </div>
