<h1>Devis</h1>
<h3 class="text-center">Faites votre DEVIS révision - <%= @search.intervention %> au meilleur prix !</h3>
<%= simple_form_for(@search) do |f| %>
    <section class="devis">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail thumbnail-perso">
              <img src="https://images.unsplash.com/photo-1484257133310-4ebafcb43f04?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="img-chivalier">
                <div class="caption">
                  <h3 class="text-center">Garage : <strong>Chivallier</strong></h3>
                  <br />
                  <p> Code postal : <%= @search.code_postal %></p>
                  <p> Type d'intervention : <strong><%= @search.intervention %></strong></p>
                  <h4>Service + : </h4>
                  <ul>
                    <li>Véhicule de courtoisie</li>
                    <li>Facilités de paiement</li>
                    <li>Dépannage</li>
                  </ul>
                  <h4>Autres services : </h4>
                  <ul>
                    <li>Forfait de 71€ TTC pour les Révisions Intermédiaires.</li>
                  </ul>
                  <p class="text-center"><a href="#" class="btn-perso btn btn-primary btn-lg" role="button">Prendre rdv</a></p>
                </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail thumbnail-perso">
              <img src="https://images.unsplash.com/photo-1442188950719-e8a67aea613a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="img-garlaban">
              <div class="caption">
                <h3 class="text-center">Garage : <strong>Garlaban</strong></h3>
                <br />
                <p> Code postal : <%= @search.code_postal %></p>
                <p> Type d'intervention : <strong><%= @search.intervention %></strong></p>
                <h4>service + :</h4>
                <ul>
                  <li>Diagnostic électronique</li>
                  <li>Spécialiste climatisation</li>
                  <br />
                </ul>
                <h4>Autres services : </h4>
                <ul>
                  <li>Pour 3 amortisseurs achetés, le 4ème est offert. </li>
                </ul>
                <p class="text-center"><a href="#" class="btn-perso btn btn-primary btn-lg" role="button">Prendre rdv</a></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail thumbnail-perso">
            <img src="https://images.unsplash.com/photo-1477333183135-292dd5b3910f?dpr=1&auto=format&fit=crop&w=1500&h=1002&q=80&cs=tinysrgb&crop=" alt="img-br-auto">
              <div class="caption">
              <h3 class="text-center">Garage : <strong>BR Auto</strong></h3>
              <br />
              <p> Code postal : <%= @search.code_postal %></p>
              <p> Type d'intervention : <strong><%= @search.intervention %></strong></p> <br/>
                <ul>
                  <li>service + :
                    Véhicule de courtoisie</li>
                  <li>Facilités de paiement</li>
                  <li>Dépannage</li>
                </ul>
                <h4>Autres services :</h4>
                <ul>
                  <li>Remise de 15% pneumatique été et hiver.</li>
                </ul>
                <p class="text-center"><a href="#" class="btn-perso btn btn-primary btn-lg" role="button" role="button" data-toggle="modal" data-target="#myModal">Prendre rdv</a></p>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Rendez-vous</h4>
                      </div>
                      <div class="modal-body">
                        <h4>Paiement :</h4>
                         <div class="container">
                          <div class="row">
                            <div class="col-xs-3 xs-perso text-center">
                              <button type="button" class="btn-perso btn-primary btn">En ligne</button>
                            </div>

                            <div class="col-xs-3 xs-perso text-center">
                              <button type="button" class="btn btn-default btn" disabled="disabled">Au garage</button>
                              <br><br>
                              <p>Choix du rendez-vous :</p>
                              <button type="button" class="btn btn-info">Lundi</button>

                              <button type="button" class="btn btn-info">Mardi</button>

                              <button type="button" class="btn btn-info">Mercredi</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% end %>
