<h1>Devis</h1>
<h3 class="text-center">Faites votre DEVIS revision - <%= @search.intervention %> au meilleur prix !</h3>
<%= simple_form_for(@search) do |f| %>
    <section class="devis">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="" alt="...">
                <div class="caption">
                <h3 class="text-center"><strong>Chivallier</strong></h3>
                <p> Ville : <%= @search.ville %></p>
                <p> Type d'intervention : <%= @search.intervention %></p>
                  <h4>service + : </h4>
                    Véhicule de courtoisie, Facilités de paiement, Dépannage,... <br />

                    <h4>Autres services : </h4>
                    Forfait de 71€ TTC pour les Révisions Intermédiaires -25% sur les... <br /
                <p><a href="#" class="btn-perso btn btn-primary btn-lg" role="button">Button</a></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="../../assets/images/search/car_unsplash.jpg" alt="...">
              <div class="caption">
                <h3 class="text-center"><strong>Garlaban</strong></h3>
                <p><%= @search.ville %></p>
                <p><%= @search.intervention %></p>
                <h4>service + :</h4>
                  <p> Diagnostic électronique, Spécialiste climatisation,...</p>
                <h4>  Autres services : </h4>
                Pour 3 amortisseurs achetés, le 4ème est offert Réduction sur le...
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
            <img src="~/car" alt="...">
              <div class="caption">
              <h3 class="text-center"><strong>BR Auto</strong></h3>
              <p><%= @search.ville %></p>
              <p><%= @search.intervention %></p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% end %>
