<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_garagister.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <!-- <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
 -->
    <!-- Different navigation if login or not -->

      <!-- Notification -->
     <!--  -->

      <!-- Profile picture and dropdown -->
      <!--  -->
cd

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Besoin d'aide ?"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>

    <%= link_to t(".top_call_to_action", default: "Connexion"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>

    <%= link_to t(".top_call_to_action", default: "Inscrire un garage"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
</div>


